# LOAD DEPENDENTS

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import time
import matplotlib.pyplot as plt
import numpy as np
import pymongo
import psycopg2 as pg
import psycopg2
import config as login
%matplotlib notebook

# SCRAPE FROM MEDICAID.GOV

In [2]:
executable_path = {"executable_path": "./chromedriver.exe"}

In [3]:
browser = Browser("chrome", **executable_path)

In [4]:
medicaidurl = 'https://www.cms.gov/Research-Statistics-Data-and-Systems/Computer-Data-and-Systems/MedicaidDataSourcesGenInfo/MedicaidPharmacy/'
browser.visit(medicaidurl)

In [5]:
browser.visit(medicaidurl)
time.sleep(5)
caid_html = browser.html
caid_soup = BeautifulSoup(caid_html, 'html.parser')

In [6]:
caidp1 = caid_soup.body.find_all('p')[1]
caidp2 = caid_soup.body.find_all('p')[2]

In [ ]:
caid_soup.body.find_all('div',class_ = "rxbodyfield")

In [7]:
caid_soup.body.find_all('p')[1].text

'Under a research contract from CMS’s former Office of Research, Development and Information (ORDI), now the Office of Information Products and Data Analytics, Mathematica Policy Research, Inc. (MPR) is producing a series of research products related to pharmacy benefit use and reimbursement in Medicaid. \xa0MPR is using the Medicaid Analytic eXtract (MAX) data files for calendar year 1999 and later years for these research products. \xa0The MAX files are constructed from claims and eligibility data that states submit to CMS electronically through the Medicaid Statistical Information System (MSIS).'

In [8]:
caid_soup.body.find_all('p')[2].text

'One set of products is the Statistical Compendium: \xa0Medicaid Pharmacy Benefit Use and Reimbursement (hereafter “the Compendium”) for calendar years 1999 and 2001-2009. \xa0The Compendium for each year provides detailed state-by-state and national data on the use of and reimbursement for prescription drugs in Medicaid. \xa0(A Compendium was not produced for calendar year 2000.)'

# LOAD MEDICAID REIMBURSEMENT TABLES

In [9]:
tbl11 = "CSV_MSIS2012_Table11.csv"
tbl11_df = pd.read_csv(tbl11)
tbl11_df.head()

,STATE,FY 2012 TOTAL BENEFICIARIES,NONE SPECIFIED,EARLY AND PERIODIC SCREENING DIAGNOSIS AND TREATMENT SERVICES,FAMILY PLANNING SERVICES,RURAL HEALTH CLINICS SERVICES,FEDERALLY QUALIFIED HEALTH CENTERS,INDIAN HEALTH SERVICES,HOME & COMMUNITY BASED WAIVER SERVICES FOR DISABLED/ ELDERLY,HOME & COMMUNITY BASED WAIVER SERVICES,UNKNOWN,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,AK,"137,055","134,797","30,001","6,032",41,"9,162","16,250",0,"6,246",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,"957,500","894,938","319,130","125,991","72,972","86,400",0,0,"13,872",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,"797,161","759,783","375,269","85,760","50,576","54,323",0,0,"11,443",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA,"10,573,265","8,940,165","597,746","2,052,046","421,924","1,962,425","56,488",0,"111,699",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CT,"750,087","746,236",620,"35,857",0,"197,029",0,"12,997","11,020",0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
tbl18 = "CSV_MSIS2012_Table18.csv"
tbl18_df = pd.read_csv(tbl18)
tbl18_df.head()

,STATE,FY 2012 TOTAL PAYMENTS,NONE SPECIFIED,EARLY AND PERIODIC SCREENING DIAGNOSIS AND TREATMENT SERVICES,FAMILY PLANNING SERVICES,RURAL HEALTH CLINICS SERVICES,FEDERALLY QUALIFIED HEALTH CENTERS,INDIAN HEALTH SERVICES,HOME & COMMUNITY BASED WAIVER SERVICES FOR DISABLED/ ELDERLY,HOME & COMMUNITY BASED WAIVER SERVICES,UNKNOWN,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,AK,"$1,333,705,473","$1,029,607,658","$9,478,877","$3,456,068","$5,950","$5,751,276","$47,594,240",$0,"$237,811,404",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,"$4,107,251,877","$3,568,005,009","$49,578,268","$62,457,841","$21,589,408","$36,943,978",$0,$0,"$368,677,373",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,"$3,582,287,234","$3,157,283,026","$133,215,709","$24,159,617","$13,750,252","$14,214,529",$0,$0,"$239,664,101",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA,"$35,509,650,692","$31,174,489,980","$73,436,843","$579,944,853","$249,686,124","$1,121,770,564","$51,884,777",$0,"$2,258,437,551",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CT,"$5,881,762,015","$4,828,754,213","$32,370","$9,250,536",$0,"$134,887,016",$0,"$150,020,595","$758,817,285",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# JOIN TABLES

In [11]:
tbl11_18 = pd.merge(tbl11_df, tbl18_df, on="STATE", how="left")
tbl11_18

,STATE,FY 2012 TOTAL BENEFICIARIES,NONE SPECIFIED_x,EARLY AND PERIODIC SCREENING DIAGNOSIS AND TREATMENT SERVICES_x,FAMILY PLANNING SERVICES_x,RURAL HEALTH CLINICS SERVICES_x,FEDERALLY QUALIFIED HEALTH CENTERS_x,INDIAN HEALTH SERVICES_x,HOME & COMMUNITY BASED WAIVER SERVICES FOR DISABLED/ ELDERLY_x,HOME & COMMUNITY BASED WAIVER SERVICES_x,...,UNKNOWN_y,Unnamed: 11_y,Unnamed: 12_y,Unnamed: 13_y,Unnamed: 14_y,Unnamed: 15_y,Unnamed: 16_y,Unnamed: 17_y,Unnamed: 18,Unnamed: 19
0,AK,"137,055","134,797","30,001","6,032",41,"9,162","16,250",0,"6,246",...,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,"957,500","894,938","319,130","125,991","72,972","86,400",0,0,"13,872",...,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,"797,161","759,783","375,269","85,760","50,576","54,323",0,0,"11,443",...,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA,"10,573,265","8,940,165","597,746","2,052,046","421,924","1,962,425","56,488",0,"111,699",...,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CT,"750,087","746,236",620,"35,857",0,"197,029",0,"12,997","11,020",...,$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Send to Excel

In [12]:
tbl11_18.to_csv("tbl11_18_output.csv", index=False, header=True)

# Send to SQL Database

In [ ]:
rds_connection_string = "postgres:R31n33nj!@localhost:5432/Medicaid_Reimburse"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

# Bar Graph Compare

In [ ]:
 # Get state data
tbl11_states = tbl11_df["STATE"].value_counts()
tbl18_states = tbl18_df["STATE"].value_counts()

In [ ]:
# Get total state data
tbl11_18 = tbl11_states.add(tbl18_states, fill_value=0)

In [ ]:
# Configure plot and ticks
tbl11_states.plot(kind="bar", facecolor="red")

In [ ]:
# Set textual properties
plt.title("Medicaid Reimbursements")
plt.ylabel("State Value Counts")
plt.xlabel("States")

In [ ]:
# Show plot
plt.show()

In [ ]:
# Resize plot to display labels
plt.tight_layout()